<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" >Birthdays</a>
    </div>
    <div class="navbar-default">
     <ul class="nav navbar-nav">
       <li><a routerLink="/birthdays/new" routerLinkActive="active">Add Birthday</a></li>
       <li><a routerLink="/birthdays" routerLinkActive="active">Birthdays</a></li>
     </ul>
    </div>
  </div>
</nav>